server {
    listen 80 default_server;
    server_name localhost;

    root /var/www/hermes/public;
    index index.html index.htm;

    access_log /var/log/nginx/hermes.log;
    error_log /var/log/nginx/hermes-error.log error;

    charset utf-8;

    include h5bp/basic.conf;

    location = /favicon.ico { log_not_found off; access_log off; }
    location = /robots.txt { log_not_found off; access_log off; }

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ ^/index\.php(/|$) {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;

        include fastcgi.conf;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param ENV production;
    }
}